<div *ngFor="let hero of heroes" class="card card-body mb-2">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>
            Name: {{hero.nickname}}
          </li>
          <li>
            Real Name: {{hero.real_name}}
          </li>
          <li>
            Origin: {{hero.original_description}}
          </li>
          <li>
            Superpowers: {{hero.superpowers}}
          </li>
          <li>
            Catch Phrase: {{hero.catch_phrase}}
          </li>
        </ul>
        <button (click)="delete(hero._id)" class="btn btn-danger">
          Delete
        </button>
        <button class="btn btn-secondary" [routerLink]="['/heroes/edit', hero._id]">
          Edit
        </button>
      </div>
      <div class="col-md-4">
        <img [src]="hero.picture" class="card-img">
      </div>
    </div>
  </div>
  <div class='row page-switcher'>
    <button class='col-md-1 card' (click)='previousPage()'><p><</p></button>
    <button class='col-md-1 card' (click)='nextPage()'><p>></p></button>
  </div>