div {
    background-color: white;
}
.page-switcher {
    background: transparent;
  }
  
  .page-switcher > button {
    text-align: center;
    margin: 8px;
    max-width: 35px;
  }
  
  .page-switcher > button > p {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
